---
---

@import "{{ site.theme }}";

.site-footer-credits {
    display: none;
}

h2 a {
    color: #159957;
}

a.github-edit {

}

.breadcrumbs {
    span {
        font-family: "Consolas", monospace;
    }
}

span {
    &.good {
        color: green;
    }
    &.bad {
        color: red;
        text-decoration: line-through;
    }

    &.safety {
        font-weight: bold;
        color: #d10;
        text-decoration: underline;
    }
    &.important {
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #222;
        -webkit-animation: rainbow 3s infinite;
        animation: rainbow 3s infinite;
    }
}

@-webkit-keyframes rainbow {
	14% {color: #f00;}
	29% {color: #ff0;}
	43% {color: #0f0;}
	57% {color: #0ff;}
	71% {color: #00f;}
	86% {color: #f0f;}
	100% {color: #f00;}
}
@keyframes rainbow {
	14% {color: #e11;}
	29% {color: #ee1;}
	43% {color: #1e1;}
	57% {color: #1ee;}
	71% {color: #11e;}
	86% {color: #e1e;}
	100% {color: #e11;}
}
